body{
    text-align: center;
    font-family: "Arial";
    color: #333;
}

#container{
    width: 100%;
    padding: 1em;
    text-align: center;
}


#cabecera{
    background: lightgray;
    color: black;
    padding: 2em;
}